@charset "UTF-8";

*{padding: 0; margin: 0; box-sizing: border-box; font-family: Arial, Helvetica, sans-serif;}

html, body{width: 100vw; height: 97vh;}

header{width: 100%; border: 1px solid black; position: relative;}


#principalaba{
    position: absolute;

    margin-left: 10px;

    transform: translateY(35px);

}

#navigation{
    display: block;
}

.nav{
    background-color: white;
    padding: 10px;
    width: 300px;
    border-bottom: 3px solid rgba(255, 0, 0, 0.819);
    color: black;
    
}

.NavAncor{text-decoration: none; color: black; }

ul{
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    margin-top: 35px;
}

ul li{list-style: none;}

.material-symbols-outlined{margin-right: 35px; font-size: 1.3rem}

#menu{
    transition: all .35s ease-in-out;
}

#menu:active{
    transform: rotate(270deg)
}


